<form [formGroup]="updateForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 pt-3 mx-auto">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2 class="mb-0">Bootcamps</h2>
          <div>
          <button type="button" class="btn btn-secondary" (click)="openAddBootcampModal()">Bootcamp Ekle</button>
          <button type="button" class="btn btn-secondary" (click)="openDetailModal()">Detay</button>
        </div>
      </div>
        <form [formGroup]="deleteForm">
          <div class="d-flex mb-3">
            <select class="form-select me-3" formControlName="id">
              <option *ngFor="let bootcamp of bootcamps.items" [ngValue]="bootcamp.id">{{ bootcamp.id }}</option>
            </select>
            <button type="button" class="btn btn-secondary" (click)="refresh()">Yenile</button>
            <ng-container *ngIf="editedBootcamp">
              <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Değişiklikleri iptal et</button>
            </ng-container>
            <button type="button" class="btn btn-secondary" (click)="deleteBootcamp()">Sil</button>
          </div>
        </form>
        
        <div class="table-responsive">
          <table mat-table class="table table-hover custom-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>InstructorId</th>
                <th>StateID</th>
                <th>StateName</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Instructor FullName</th>
                <th>Settings</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let bootcamp of bootcamps.items; let i = index">
                <tr (click)="selectBootcamp(bootcamp)" (click)="editableRowIndex === null ? editRow(i) : null">
                  <td>
                    <ng-container *ngIf="editableRowIndex === i; else showId">
                      <input type="text" class="form-control" formControlName="id" [attr.disabled]="editableRowIndex !== i" />
                    </ng-container>
                    <ng-template #showId>{{ bootcamp.id }}</ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editableRowIndex === i; else showName">
                      <input type="text" class="form-control" formControlName="name" [attr.disabled]="editableRowIndex !== i" />
                    </ng-container>
                    <ng-template #showName>{{ bootcamp.name }}</ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editableRowIndex === i; else showInstructorId">
                      <input type="text" class="form-control" formControlName="instructorId" [attr.disabled]="editableRowIndex !== i" />
                    </ng-container>
                    <ng-template #showInstructorId>{{ bootcamp.instructorId }}</ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editableRowIndex === i; else showBootcampStateId">
                      <input type="text" class="form-control" formControlName="bootcampStateId" [attr.disabled]="editableRowIndex !== i" />
                    </ng-container>
                    <ng-template #showBootcampStateId>{{ bootcamp.bootcampStateId }}</ng-template>
                  </td>
                  <td>{{ bootcamp.bootcampStateName }}</td>
                  <td>
                    <ng-container *ngIf="editableRowIndex === i; else showStartDate">
                      <input type="date" class="form-control" formControlName="startDate" [attr.disabled]="editableRowIndex !== i" />
                    </ng-container>
                    <ng-template #showStartDate>{{ bootcamp.startDate | date }}</ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editableRowIndex === i; else showEndDate">
                      <input type="date" class="form-control" formControlName="endDate" [attr.disabled]="editableRowIndex !== i" />
                    </ng-container>
                    <ng-template #showEndDate>{{ bootcamp.endDate | date }}</ng-template>
                  </td>
                  <td>{{ bootcamp.instructorFirstName }} {{ bootcamp.instructorLastName }}</td>
                  <td>
                    <ng-container *ngIf="editableRowIndex === i">
                      <button class="btn btn-info btn-sm" (click)="saveChanges()">Kaydet</button>
                    </ng-container>
                    <ng-container *ngIf="editableRowIndex !== i">
                      <button class="btn btn-info btn-sm" (click)="editRow(i)">Düzenle</button>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngFor="let bootcamp of bootcamps.items">
  <div mdbModal class="modal top fade" [id]="'bootcampDetailModal_' + bootcamp.id" tabindex="-1" aria-labelledby="BootcampDetailModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ bootcamp.name }} Kart önizlemesi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card border text-center border-primary shadow-0">
            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="img-fluid" />
              <a routerLink="#">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ bootcamp.name }}</h5>
              <div class="card-body justify-content-between align-items-center mb-2 pb-2">
                <p class="fw-bold text-muted small text-uppercase">Başlama Tarihi : {{ bootcamp.startDate }}</p>
                <p class="fw-bold text-muted small text-uppercase">Bitiş Tarihi : {{ bootcamp.endDate }}</p>
                <p class="fw-bold h1 mb-1">{{ bootcamp.name }}</p>
                <p class="text-muted mb-0">{{ bootcamp.instructorId }}</p>
              </div>
              <hr style="background-color: hsl(0, 0%, 75%)" />
              <blockquote>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  {{ bootcamp.id }}
                </p>
              </blockquote>
              <hr style="background-color: hsl(0, 0%, 75%)" />

              <p class="text-uppercase text-muted small fw-bold">Eğitmen Bilgileri</p>
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="fw-bold mb-1">{{ bootcamp.instructorFirstName }} {{ bootcamp.instructorLastName }}</p>
                  <p class="text-muted mb-0">{{ bootcamp.bootcampStateName }} - {{ bootcamp.bootcampStateId }}</p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="date">Kurs numarası : {{ bootcamp.id }} - Son Düzenlenme: {{ bootcamp.startDate | date : "dd/MM/yyyy" }}</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal class="modal top fade" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
  <div class="modal-dialog modal-xl  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addContactModalLabel">Bootcamp Oluştur</h5>
        <button type="button" class="btn btn-secondary btn-close" data-mdb-dismiss="modal" aria-label="Close"
          (click)="closeAddBootcampModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <mdb-form-control class="mb-4">
            <input mdbInput formControlName="name" type="string" class="form-control" id="exampleInputEmail1"
              placeholder="Bootcamp İsmi">
            <label mdbLabel class="form-label" for="exampleInputEmail1">Ad</label>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <div mdbDropdown class="btn-group shadow-0">
              <button type="button" class="btn btn-link dropdown-toggle" mdbDropdownToggle aria-expanded="false"> {{
                selectedInstructor ? selectedInstructor.id : 'Instructor Seç' }}</button>
              <ul mdbDropdownMenu class="dropdown-menu">
                <li *ngFor="let bootcamp of bootcamps.items">
                  <a class="dropdown-item"  (click)="selectInstructor(bootcamp)">{{ bootcamp.instructorId }}</a>
                </li>
              </ul>
            </div>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <input mdbInput formControlName="instructorId" type="text" class="form-control" id="exampleInputPassword1"
              placeholder="Instructor ID">
            <label mdbLabel class="form-label" for="exampleInputPassword1">Instructor ID</label>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <input mdbInput formControlName="bootcampstateId" type="number" class="form-control"
              id="exampleInputPassword2" placeholder="Bootcamp State ID">
            <label mdbLabel class="form-label" for="exampleInputPassword2">Bootcamp State ID</label>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <input mdbInput formControlName="startDate" type="date" class="form-control" id="exampleInputPassword4"
              placeholder="Bootcamp Başlama Tarihi">
            <label mdbLabel class="form-label" for="exampleInputPassword4">Başlama tarihi</label>
          </mdb-form-control>
          <mdb-form-control class="mb-4">
            <input mdbInput formControlName="endDate" type="date" class="form-control" id="exampleInputEmail5"
              placeholder="Bootcamp Bitiş Tarihi">
            <label mdbLabel class="form-label" for="exampleInputEmail5">Bitiş tarihi</label>
          </mdb-form-control>
          <div class="form-group text-center">
            <button type="button" class="btn btn-secondary" (click)="closeAddBootcampModal()">İptal et</button>
            <button type="button" class="btn btn-light" mdbRipple rippleColor="dark"
              (click)="postForm()">Tamamla</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>