.white {
  background-color: #FFF!important;
}

.blue-grey {
  background-color: #ECEFF1!important;
}

.light-blue {
  background-color: #E3F2FD!important;
}

.deep-purple {
  background-color: #EDE7F6!important;
}

.grey {
  background-color: #EEEEEE!important;
}

.dark {
  background-color: #212121!important;
}

.blue-grey-dark {
  background-color: #37474F!important;
}

.teal-dark {
  background-color: #004D40!important;
}

.deep-purple-dark {
  background-color: #4527A0!important;
}

.grey-dark {
  background-color: #424242!important;
}
.rounded-circle {
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}
.profile-img {
  width: 155px;
  height: 155px;
  margin-top: -90px;
  border: 4px solid #fff;
}