// .admin-bg-image {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #212931;
//     background-image: url("../../../assets/images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../../assets/images/bg.jpg");
//     background-size: auto, auto, cover;
//     background-position: center, center, top center;
//     background-repeat: repeat, no-repeat, no-repeat;
//     background-attachment: scroll, scroll, scroll;
//     z-index: -1;
//   }

// aside {
//     background-color: #ffffff;
//     color: #f7fafc;
//     height: 100vh;
//     width: 15rem;
//     margin-top: 2.3%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     display: flex;
//     flex-direction: column;
//     overflow-y: auto;
// }

// @media screen and (max-width: 768px) {
//     aside {
//         width: 100%; 
//         height: auto; 
//         margin-top: 111%; 
//         overflow-y: auto;
//     }
// }
// @media screen and (max-width: 980px) {

//     aside {
//         display: flex;
//         overflow-y: auto;
//     }
// }
// aside .logo {
//     padding: 1rem 1.5rem;
//     display: flex;
//     align-items: center;
// }

// aside .logo img {
//     height: 2rem;
//     margin-right: 0.5rem;
// }

// aside .logo span {
//     font-size: 1.25rem;
//     font-weight: 600;
// }

// aside ul {
//     margin-top: 1rem;
// }

// aside ul li {
//     padding: 0.75rem 1.5rem;
//     font-size: 0.875rem;
//     border-bottom: 1px solid #2d3748;
// }

// aside ul li a {
//     color: #cbd5e0;
// }

// aside ul li a:hover {
//     color: #ffffff;
// }

// main {
//     margin-left: 16rem;
//     padding: 1.5rem;
//     overflow-y: visible;
// }

// header {
//     margin-top: 2.5%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 1.5rem;
// }

// header h1 {
//     font-size: 1.5rem;
//     font-weight: 600;
// }

// header button {
//     background-color: #4299e1;
//     color: #ffffff;
//     padding: 0.5rem 1rem;
//     border-radius: 0.25rem;
//     transition: background-color 0.3s ease;
// }

// header button:hover {
//     background-color: #3182ce;
// }

// table {
//     width: 100%;
//     border-collapse: collapse;
// }

// th, td {
//     padding: 0.75rem;
//     border: 1px solid #cbd5e0;
// }
// td button {
//   margin-right: 0.4rem;
// }
// th {
//     color: #2d3748;
//     font-weight: 500;
// }

// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;

// body {
//   margin: 0;
//   padding: 0;
//   font-family: Arial, sans-serif;
// }

// .navbar {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 1000;
//   background-color: #343a40;
//   color: white;
//   display: flex;
//   align-items: center;
//   padding: 0 1rem;

//   .btn {
//     color: white;
//     background-color: #007bff;
//     border: none;
//     padding: 0.5rem 1rem;
//     cursor: pointer;

//     &:hover {
//       background-color: #0056b3;
//     }
//   }
// }

// .sidebar {
//   width: 250px;
//   height: 100%;
//   background: #343a40;
//   color: white;
//   position: fixed;
//   top: 60px; /* Yatay navbar yüksekliği */
//   left: 0;
//   bottom: 0;
//   overflow-x: hidden;
//   overflow-y: auto;
//   transition: transform 0.3s ease;

//   &.closed {
//     transform: translateX(-100%);
//   }
// }

// .sidebar.open {
//   left: 0;
// }

// .sidebar .header {
//   padding: 20px;
//   background-color: #444;
//   text-align: center;
// }

// .sidebar .nav {
//   list-style-type: none;
//   padding: 0;
// }

// .sidebar .nav-item {
//   padding: 10px 20px;
//   cursor: pointer;
// }

// .sidebar .nav-link {
//   color: #fff;
//   text-decoration: none;
//   display: block;
// }

// .sidebar .nav-item:hover {
//   background-color: #555;
// }

// .btn-toggle {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 10px 20px;
//   cursor: pointer;
//   border-radius: 5px;
//   display: none;
//   position: fixed;
//   top: 10px;
//   left: 10px;
//   z-index: 1100;

//   &.hidden {
//     display: none;
//   }

//   &.visible {
//     display: block;
//   }
// }

// .container-fluid {
//   margin-left: 15px; /* Sidebar genişliği */
//   padding: 1rem;
//   margin-top: 15px; /* Yatay navbar yüksekliği */
//   height: calc(100vh - 60px);
//   overflow-y: visible;
//   transition: margin-left 0.3s ease;

//   @media (max-width: $breakpoint-md) {
//     margin-left: 0;
//   }
// }

// @media (max-width: $breakpoint-md) {
//   .btn-toggle {
//     display: block;
//   }

//   .sidebar {
//     top: 0;
//     bottom: 0;
//     left: -250px;
//     transition: all 0.3s ease;

//     &.open {
//       left: 0;
//     }
//   }

//   .container-fluid {
//     margin-left: 0;
//     padding: 1rem;
//     margin-top: 60px; /* Yatay navbar yüksekliği */
//     &.shifted {
//       margin-left: 250px;
//     }
//   }
// }
.grainy-gradient-intro:before {
  background: #c3ccea;
  filter: url(#f);
  overflow-y: visible;
}
.grainy-gradient-intro:before, .grainy-gradient-intro:after {
  position: fixed;
  inset: 0;
  z-index: -1;
  --grad: radial-gradient(at 50%, red, rgba(255, 0, 0, 0.3) 55%, transparent 80%);
  --mask: var(--grad), var(--grad);
  -webkit-mask: var(--mask);
  -webkit-mask-composite: source-in;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in, xor;
  mask-composite: intersect;
  mix-blend-mode: unset;
  overflow-y: visible;
  content: "";
}

.grainy-gradient-intro:after {
  overflow-y: visible;
  background: linear-gradient(
90deg, #760dfe 20%, #f51b26, #fd9900);
}
body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}