<div class="login-bg-image">
    <div class="container-fluid" style="position: relative; overflow-y: auto; height: 100vh;">
        <div class="row justify-content-center align-items-center" style="height: 100%;">
            <div class="col-md-6">
                <div class="card login-container">
                    <mdb-tabs [pills]="true" [fill]="true">
                        <mdb-tab title="Şifremi Unuttum">
                            <form [formGroup]="forgotPasswordForm">
                                <div class="form-group">
                                    <mdb-form-control class="mb-4">
                                        <input mdbInput formControlName="email" type="email" id="logiNE"
                                            class="form-control" />
                                        <label mdbLabel class="form-label" for="logiNE">Email/Kullanıcı adı</label>
                                    </mdb-form-control>
                                    <button mdbRipple type="submit" class="btn btn-outline-primary btn-rounded col-md-12" (click)="onSubmit()">Mail Gönder</button>
                                </div>
                            </form>
                        </mdb-tab>
                    </mdb-tabs>
                </div>
            </div>
        </div>
    </div>
</div>