<div id="wrapper" class="fade-in">
  <div id="intro">
    <h1>Pair<br />
      5</h1>
    <p>Merhaba<br />
      ve hoşgeldiniz.</p>
    <ul class="actions">
      <li><a href="bootcamps/#main" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
    <div id="BackToMain" [style.display]="displayIntro ? 'block' : 'none'">
      <ul class="actions">
        <li><a href="bootcamps/#wrapper" class="button icon solid solo fa-arrow-up scrolly">Continue</a></li>
      </ul>
    </div>
  </div>
  <nav id="nav">
    <ul class="links">
      <li class="active"><a href="/bootcamps">Bootcamps</a></li>
      <!-- <li><a href="generic.html" class="nav-link disabled">Biz kimiz?[Kullanım dışı]</a></li> -->
      <li><a href="elements.html" class="nav-link disabled">Diğer Çalışmalar</a></li>
    </ul>
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
  </nav>

  <div id="main" class="fade-in">

    <article class="post featured">
      <header class="major">
        <tr class="date">
          <h3>BOOTCAMPS</h3>
        </tr>

        <!-- <p>Bu alanda eğitmenlerin/şirketin, göstermiş olduğu eğitimler/ürünler yer alıyor.</p> -->
      </header>
      <div class="carousel-inner rounded-9 shadow-4-strong">
        <mdb-carousel [indicators]="true" [animation]="'fade'">
          <mdb-carousel-item>
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.jpg" alt="..." />
          </mdb-carousel-item>

          <mdb-carousel-item>
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/044.jpg" alt="..." />
          </mdb-carousel-item>

          <mdb-carousel-item>
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.jpg" alt="..." />
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/045.jpg" alt="..." />
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </article>
    <section class="posts">
      <article *ngFor="let bootcamp of bootcamps.items">
        <div class="card border text-center border-primary shadow-0" (click)="toggleCardBody(bootcamp.id, $event)">
          <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
              <img [src]="bootcamp.imagePath" alt="Bootcamp Image">
            <a routerLink="#">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body" [ngClass]="{ 'd-none': !isOpen[bootcamp.id] }">
            <h5 class="card-title">{{bootcamp.name}}</h5>
            <div class="card-body justify-content-between align-items-center mb-2 pb-2">
              <p class="fw-bold text-muted small text-uppercase">
                Başlama Tarihi : {{ bootcamp.startDate}}
              </p>
              <p class="fw-bold text-muted small text-uppercase">
                Bitiş Tarihi : {{ bootcamp.endDate}}
              </p>
              <p class="fw-bold h1 mb-1">{{bootcamp.name}}</p>
              <p class="text-muted mb-0">{{ bootcamp.instructorId}}</p>
            </div>
            <hr style="background-color: hsl(0, 0%, 75%)" />
            <blockquote>
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
                {{ bootcamp.id }}
              </p>
              <button type="button" class="btn btn-secondary"
                (click)="viewDetails(bootcamp.id); $event.stopPropagation();">Detay</button>
            </blockquote>
            <hr style="background-color: hsl(0, 0%, 75%)" />

            <p class="text-uppercase text-muted small fw-bold">Eğitmen Bilgileri</p>
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                  style="width: 45px; height: 45px" />
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="fw-bold mb-1">{{ bootcamp.instructorFirstName}} {{
                  bootcamp.instructorLastName}}</p>
                <p class="text-muted mb-0">{{ bootcamp.bootcampStateName }} - {{
                  bootcamp.bootcampStateId}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="date">Kurs numarası : {{ bootcamp.id }} - Son Düzenlenme: {{ bootcamp.startDate |
              date : "dd/MM/yyyy" }}</small>
          </div>
        </div>
      </article>

    </section>

    <div class="pagination-container">
      <div class="pagination">
        <div class="arrow" (click)="previousOnClick()">
          <i class="fas fa-angle-left"></i>
        </div>
        <div class="page-numbers">
          <ng-container *ngFor="let page of totalPages()">
            <p class="page-number" [class.current-page]="page === currentPageNumber" (click)="goToPage(page)">
              {{ page }}
            </p>
          </ng-container>
        </div>
        <div class="arrow" (click)="nextOnClick()">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>


  </div>

  <footer id="footer">
    <section>
      <h3 class="fw-bold text-center mb-4">Sosyal medya</h3>
      <ul class="icons text-center mb-5">
        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
      </ul>

      <section class="border border-primary card p-4 mb-lg-10 mb-5">
        <h3 class="fw-bold text-center mb-4">Bizimle iletişime geç</h3>
        <div class="row gx-xl-5">
          <div class="col-lg-5  mb-5 mb-lg-0">
            <form>
              <div class="form-outline border mb-3" data-mdb-input-init>
                <input mdbInput type="text" id="form4Example1" class="form-control" />
                <label mdbLabel class="form-label" for="form4Example1">Ad Soyad</label>
              </div>

              <div class="form-outline border mb-3" data-mdb-input-init>
                <input type="email" id="form4Example2" class="form-control" />
                <label class="form-label" for="form4Example2">Email</label>
              </div>

              <div class="form-outline border mb-3" data-mdb-input-init>
                <input mdbInput type="text" id="form4Example3" class="form-control" />
                <label mdbLabel class="form-label" for="form4Example3">Konu</label>
              </div>

              <div class="form-outline border mb-3" data-mdb-input-init>
                <textarea class="form-control" id="form4Example4" rows="4"></textarea>
                <label class="form-label" for="form4Example4">Mesaj</label>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4">Gönder</button>
            </form>
          </div>

          <div class="col-lg-7 mb-4 mb-lg-0">

            <div class="row gx-lg-5">
              <div class="col-md-6 mb-4 mb-md-5">
                <div class="d-flex align-items-start">
                  <div class="p-3 badge-primary rounded-4">
                    <i class="fas fa-headset fa-lg fa-fw"></i>
                  </div>
                  <div class="ms-4">
                    <p class="fw-bold mb-1">Teknik destek</p>
                    <p class="text-muted mb-0">pair5gmail.com</p>
                    <p class="text-muted mb-0">+1 234-567-89</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4 mb-md-5">
                <div class="d-flex align-items-start">
                  <div class="p-3 badge-primary rounded-4">
                    <i class="fas fa-newspaper fa-lg fa-fw"></i>
                  </div>
                  <div class="ms-4">
                    <p class="fw-bold mb-1">Bootcampler</p>
                    <p class="text-muted mb-0">pair5gmail.com</p>
                    <p class="text-muted mb-0">+1 234-567-88</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4 mb-md-5">
                <div class="d-flex align-items-start">
                  <div class="p-3 badge-primary rounded-4">
                    <i class="fas fa-bug fa-lg fa-fw"></i>
                  </div>
                  <div class="ms-4">
                    <p class="fw-bold mb-1">Hata bildir</p>
                    <p class="text-muted mb-0">pair5gmail.com</p>
                    <p class="text-muted mb-0">+1 234-567-87</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </section>
    </section>
  </footer>
  <div id="copyright">
    <ul>
      <li>&copy;</li>
      <li>Design: <a href="">Pair-5</a></li>
    </ul>
  </div>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>