#BackToMain {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; 
}

.card-body {
  transition: height 0.3s;
}

.d-none {
  display: none !important;
}

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(2) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(3) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 50vh;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 100px;
}

.arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.page-numbers {
  display: flex;
  gap: 20px;
}

.page-number {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.page-number.current-page {
  font-weight: bold;
}
