<div style="margin-top: 50px;" class="mb-3">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Marka Ara">
</div>
<div *ngIf="filterText" class="alert alert-success" style="opacity: 0.8;">
 {{filterText}} aradınız.
</div>

<app-bootcamp-card></app-bootcamp-card>

<ul class="list-group" style="opacity: 0.8;">
    <li routerLink="/home-page" [class]="getListModels()">Markalar</li>
</ul>
<div class="mb-3" style="opacity: 0.8;">
    <select class="form-select" size="5" aria-label="size 3 select example">
        <option style="background-color: rgb(29, 29, 27);" (click)="onSelectedBootcamp(bootcamp.id)"
        [ngClass]="{
            active:selectedBootcampId===bootcamp.id
        }"
        [class]="getCurrentBootcampClass(bootcamp)"
        *ngFor="let bootcamp of bootcampList | filterBootcampPipe:filterText" value="1">{{bootcamp.name}}</option>
    </select>
</div>